<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
   <test name="RegisterTest" enabled="true">
	   <classes>
		   <class name="com.Mytest">
				<methods>
					<include name="TestRegister"/>
				</methods>
		   </class>
	   </classes>
   </test>
   
   <test name="ValidLoginTest" enabled="true">
	   <classes>
		   <class name="com.Mytest">
				<methods>
					<include name="ValidLogin"/>
				</methods>
		   </class>
	   </classes>
   </test>
   
   <test name="InvalidLoginTest" enabled="true">
	   <classes>
		   <class name="com.Mytest">
				<methods>
					<include name="InvalidLogin"/>
				</methods>
		   </class>
	   </classes>
   </test>
   
   <test name="SearchTest" enabled="true">
	   <classes>
		   <class name="com.Mytest">
				<methods>
					<include name="search"/>
				</methods>
		   </class>
	   </classes>
   </test>
   
   <test name="AddToCartTest" enabled="true">
	   <classes>
		   <class name="com.Mytest">
				<methods>
					<include name="addToCart"/>
				</methods>
		   </class>
	   </classes>
   </test>
   
    
</suite>
